.col-3{
    position: relative;
    overflow: hidden;
}

.col-3 img{
    display:block;
    transition: transform 0.5s;
}

.type{
    width: 100%;
    height:0;
    background: linear-gradient(rgba(7, 7, 7, 0.411),#0404047c);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    
    flex-direction: column;
    transition: height .01s;
}

.type p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-left: 15px;
    font-size:20px;
    margin-top:230px;
}

.type a{
    margin-top:35%;
    color: white;
    justify-content: center;
    position: absolute;
    margin-left:43%;
    font-size:40px;
    text-align: center;
    line-height:50px;
    width:50px;
}

.col-3:hover{
    transform: scale(1.0);
}

.col-3:hover .type{
    height:300px;
}

.card:hover{
    scale: 1.1;
}

.card{
    box-shadow:2px 4px 6px 8px rgb(211, 210, 210);
}

